
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins',sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    align-items: center;
    min-height: 100vh;
    
    background: rgb(218, 6, 6);
    background-position:center;
}




.wrapper{

    width:420px;
    background: transparent;
    border:rgba(221, 16, 16, 0.2);
    text-align: center;
    border-radius: 10px;
    padding:30px 40px;
}

.wrapper h1{
    font-size: 36px;
    
}

.wrapper .input-box {
    position:relative;
    width:100%;
    height:50%;
    margin:30px 0;
}

.input-box input{
    width: 95%;
    height:100%;
    background:transparent;
    border:none;
    border: 2px solid rgba(85, 0, 0, 0.2);
    border-radius: 40px; 
    font-size: 16px;
    color:#fff;
    padding: 20px 45px 20px 20px;
}
.input-box  input::placeholder {
    color:#fff;
}
.input-box .icon {
    position: absolute;
    right:20px; 
    top:50%;
    font-size: 16px;
 
}
.wrapper .remember-forgot{
    display:flex;
    justify-content: space-between;
    font-size: 15px;
    margin:-15px 0 15px;
}
.remember-forgot label input{
    accent-color: #fff;
    margin-right: 4px4px;
}

.remember-forgot a {
    color :#fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper button {
    width:100%;
    height:45px;
    background:#fff;
    border:none;
    outline:none;
    border-radius: 40px;
    color:#333;
}
.wrapper .register-link{
    font-size: 15px;
    text-align: center;
}


